*{
    text-decoration: none;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color: rgba(240, 169, 6, 0.912);
}


.nb{
    background-color: rgb(9, 8, 8);
    font-size: larger;
    display: flex;
    align-items: center;
    height: 90px;
    justify-content: space-between;
    
}

.nd{
    display: flex;
    align-items: center;
    justify-content: space-between;
   }

.logo a{
   color: rgb(244, 240, 240);
 font-size: 40px;
 font-weight: 900;
    margin-right: 410px;
    display: inline-block
}

li{
    list-style: none;
    display: inline-block;
    padding: 7px;
}

li a{
    color: rgb(253, 246, 246);
    font-size: 20px;
    font-weight: 900;
    margin-right: 20px;
    margin-right: 10px;
}



button{
    background-color: rgb(244, 243, 243);
    margin-left: 130px;
    border-radius: 10px;
    color: rgb(16, 17, 18);
    padding: 10px;
    width: 90px;
    display:inline-block;
}

button a{
    color: rgb(18, 16, 16);
    font-weight: bold;
font-size: 15px;
}

.ip{
    margin-left: 50px;
    background: transparent;
    height: 40px;
    width: 140px;
    background-color: rgb(31, 28, 28);
    color: aliceblue;
    
}

h2{
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    margin-top: 26px;
    color: brown;
    transition:  2s  ease-in-out;
}

.lp{
    width: 450px;
    height: 300px;
    margin-top: 26px;
   border: 5px solid black;
}

.calc{
    width: 450px;
    height: 300px;
    margin-left: 280px;
    margin-top: 26px;
    border: 5px solid black;
}

#lpp{
    margin-left: 80px;
    margin-top: 40px;
    font-size: 30px;
    font-weight: 900;
    
}

#clc{
    margin-left: 850px;
    font-size: 30px;
    font-weight: 900;
}