*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: rgba(240, 169, 6, 0.912);
}
.navbar{
    height: 90px;
    width: 100%;
    background-color: rgb(48, 48, 193);
}

.navbar-brand{
font-size: 39px;
font-weight: 700;
color: rgb(237, 228, 228);
}
.navbar-nav{
margin-left: 500px;
}
.nav-item{
    color: black;
    padding: 10px;
    font-weight: bold;
}

.abt{
    margin-left: 90px;
    margin-top: 100px;
    font-size: larger;
    color: rgb(74, 72, 70);
}


.lg-form{
   
        width: 300px;
        height: 360px;
        background-color:rgb(23, 15, 15) ;
        position: absolute;
        top: 160px;
       margin-left: 50%;
        border-radius: 10px;
        padding: 25px;
      }

  h3{
    display: inline-block;
    font-size: large;
    margin-left: 40px;
    color: rgb(255, 47, 0);
   

  }

input{
    margin-top: 120px;
    margin-left: 150px;
    margin: 7px;
    padding: 5px;
    border-radius: 9px;
}

.lg-button{
    margin-left: 25%;
    width: 130px;
    margin-top: 30px;
    border-radius: 20px;
    padding: 5px;
    background-color:orange;
    font-size: large;
    font-weight: 500;
}



